# General
.DS_Store
Thumbs.db
*.log
*.tmp

# IDEs
.vscode/
.idea/
*.swp

# Python / Backend
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.env
backend/.pytest_cache/
backend/framesift-temp/
*.sqlite3

# Node / Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Docker
.docker/

# OS
.OSX

.env.production
.env.local
